
# Visual Studio 관련 파일 추적제외함
.vscode/
Debug/
.vs
*.user

# CMake cache 추적 제외
CMakeCache.txt
cmake_install.cmake
CMakeFiles/
Makefile

# Qt user cache
*.user

# Qt build files
build-*

# Web
node_modules
dist
package-lock.json
.parcel-cache
